<h1 class="text-4xl mb-10 font-light">Bienvenido a nuestra tienda</h1>

<%= search_form_for @q, url: storefront_home_path, method: :get, class: "mb-6 flex items-center gap-2" do |f| %>
  <%= f.text_field :name_or_description_cont, placeholder: "Buscar por nombre o descripción...", 
        class: "border rounded px-4 py-2 w-full mb-4" %>
  <%= f.submit "Buscar", class: "bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded" %>
<% end %>

<div id="products" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-10">
  <% @products.each do |product| %>
    <%= link_to storefront_product_path(product), class: "block hover:shadow-lg transition p-4 border rounded-lg bg-white hover:bg-gray-100" do %>
      <%= render 'shared/product', product: product %>
    <% end %>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @products %>
</div>
