<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Administración" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen overflow-y-scroll"> 

<header class="bg-sky-600 text-white border-b-4 border-sky-400">
  <div class="container mx-auto flex items-center flex-wrap pl-2 gap-x-4 min-w-0">
    
    <!-- Logo y título alineados a la izquierda -->
    <div class="flex items-center space-x-2 min-w-0">
      <%= link_to admin_root_path do %>
        <%= image_tag('aviwhite.png', alt: 'AVIVAS logo', class: 'h-16 sm:h-20 md:h-24 max-h-28 w-auto inline-block') %>
        <h1 class="inline-block text-2xl text-center">Administración de AVIVAS</h1>
      <% end %>
    </div>

    <!-- Menú de usuario -->
    <div class="flex items-center space-x-2 ml-auto mr-2">
      <%= link_to "Editar perfil", edit_admin_user_path(current_user), 
            class: "text-center hover:underline text-white font-medium p-1 px-2 rounded-lg sm:text-lg" %>
      <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, 
            class: "hover:border-red-400 hover:underline text-white font-medium p-1 px-2 rounded-lg sm:text-lg" %>
    </div>

  </div>
</header>



    <!-- Contenido -->
    <main class="container mx-auto mt-8 px-6 flex-1">
      <%= render 'shared/alerts' %>
      <%= yield %>
      <br>
    </main>

  </body>
</html>
